<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.jml1024.learn.service.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cc.jml1024.learn.service.domain.User">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, age, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tbl_user`
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `tbl_user`
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cc.jml1024.learn.service.domain.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tbl_user` (`name`, age, email) values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.jml1024.learn.service.domain.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tbl_user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="email != null and name != ''">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.jml1024.learn.service.domain.User">
    update `tbl_user`
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
       </if>
      </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.jml1024.learn.service.domain.User">
    update `tbl_user`
    set `name` = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="getListBy" resultMap="BaseResultMap" parameterType="cc.jml1024.learn.api.qry.UserQry">
    SELECT <include refid="Base_Column_List"/>
    FROM `tbl_user` u,
    (
        SELECT
            uof.id as temp_id
        FROM
            `tbl_user`
        <where>
          <if test="name != null and name != ''">
            AND `name` = #{name}
          </if>
        </where>
    ) AS temp
    WHERE temp.temp_id = u.id
    ORDER BY u.id DESC
  </select>

  <select id="getListByCount"  resultType="java.lang.Long">
    SELECT COUNT(ID)
    FROM `tbl_user`
  </select>
</mapper>